*,
*::after,
*::before {
    margin: 0;

    box-sizing: border-box;
}

.nav {
    gap: 100px;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 9vh;
    background: var(--padrao-gradient);
    border-bottom: 1px solid var(--escrito-escuro);

    .nav_brand {
        position: absolute;
        left: 2rem;
        font-weight: bold;
        font-size: 1.9rem;

        @media screen and (max-width: 550px) {
            font-size: 1.2rem;
            left: 0.5rem;
        }
    }

    .nav_menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 8vh;
        gap: 6rem;
        position: fixed;
        top: 9vh;
        right: 0rem;
        width: 50%;
        height: 93vh;
        background: var(--padrao-gradient);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        border-left: 1px solid var(--escrito-escuro);
    }

    li {
        list-style: none;
    }

    .nav_link {
        font-size: 2rem;
        color: var(--escrito-escuro);
        font-weight: 600;
        transition: var(--transicao-botao);

        &:hover {
            opacity: 0.7;
        }
    }

    .nav_active {
        transform: translateX(0);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 9px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-4px, -9px);
    }

    .nav_toggler {
        div {
            width: 2.6rem;
            height: 0.25rem;
            margin: 0.37rem;
            background: var(--escrito-claro);
            display: flex;
            transition: 0.4s ease-in;
        }

        cursor: pointer;
        display: block;

    }
}

.end_ {
    position: relative;
    right: 1rem;
}