*,*::after, *::before {
   margin: 0;

   box-sizing: border-box;
}

.nav {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 8vh;
    background: var(--padrao-gradient);
    border-bottom: 1px solid var(--escrito-escuro);
}

.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    gap: 6rem;
}

li {
    list-style: none;
}

.nav_link {
    font-size: 1.6rem;
    color: var(--escrito-escuro);
}

.nav_toggler {
    div {
        width: 2.6rem;
        height: 0.25rem;
        margin: 0.37rem;
        background: var(--escrito-claro);
        display: flex;
    }
    
    cursor: pointer;
    // display: none;

    @media screen and (max-width: 850px) {

    }
}

.line1 {

}

.line2 {

}

.line3 {

}
.end_ {
    
}

