@import "../variables.scss";

.ContainerBar {
    width: 100vw;
    height: 4.5rem;
    border-bottom: 1px solid #163020;
    opacity: 0.8;
    background: var(--padrao-gradient);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
};

.NavAncora {
    color: #0C1B11;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 2.5rem;
    &:hover{
        color: #0C1B11 32%;
    };
};

.Bandeiras {
    display: flex;
    position: absolute;
    right: 1rem;
    gap: 10px;
}

.UKbandeira {
    width: 4.5625rem;
    height: 2.75rem;

    &:hover{
        color: 50%;
    }
};

.BRbandeira {
    width: 4.5625rem;
    height: 2.75rem;

    &:hover{
        color: 50%;
    };
};
    

