.Section {
    width: 100vw;
    height: 40rem;
    background-color: var(--fundo-padrao);

    .Contant {
        width: 28.1875rem;
        position: absolute;
        left: 8.3rem;
        top: 9rem;
    };
    
    .titulo {
        color: var(--escrito-claro);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    };
    
    .StyledImage {
        width: 16.3125rem;
        height: 13.125rem;
        flex-shrink: 0;
        position: absolute;
        bottom: 4rem;
        left: 14rem;
    };

    .imagemLegal{
      position: absolute;
      left: 13rem;
      bottom: 3rem;

    };

    .Ellipse{
      position: absolute;
      top: 29.5%;
      right: 16.3%;
    };

    .Eu{
      width: 113px;
      height: 146px;
      position: absolute;
      top: 19%;
      right: 18%;
      border-radius: 48px;
    };
    
    .ContantButtons {
        display: flex;
        flex-wrap: wrap;
        width: 23.5625rem;
        height: 9.6875rem;
        position: absolute;
        bottom: 3%;
        right: 8%;
        gap: 0rem 3rem;
    
        button {
          width: 10.25rem;
          height: 3.625rem;
          flex-shrink: 0;
          border-radius: 1.4375rem;
          border: var(--borda);
          background: var(--padrao-gradient);
          box-shadow: var(----button-shadow);
          color: var(--escrito-escuro);
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 500;
          color: var(--escrito-claro);

          &:hover {
              color: black;
          }
      }

      .gitHub:hover {
          background: linear-gradient(96deg, #BD00FF 2.05%, #FF4E79 100%);
      }

      .linkedin:hover {
          background: linear-gradient(96deg, #1A23FF 2.05%, #7DC4DB 100%);
      }

      .treinee:hover {
          background: linear-gradient(96deg, #4C724C 2.05%, #D9CDAE 100%);
      }

      .freelancer:hover {
          background: linear-gradient(96deg, #C0C0C0 2.05%, #AD7D02 100%);
      };
  };
};