@import "../../variables.scss";

.Section {
    width: 100vw;
    height: 36rem;
    background-color: #EEF0E5;

    .Contant {
        width: 28.1875rem;
        position: absolute;
        left: 8.3rem;
        top: 9rem;
    };
    
    .titulo {
        color: #163020;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    };
    
    .StyledImage {
        width: 16.3125rem;
        height: 13.125rem;
        flex-shrink: 0;
        position: absolute;
        bottom: 4rem;
        left: 14rem;
    };

    .imagemLegal{
      position: absolute;
      left: 15rem;
      bottom: 3.8rem;

    };

    .Ellipse{
      position: absolute;
      top: 12.5rem;
      right: 15.4rem;
    };

    .Eu{
      width: 113px;
      height: 146px;
      position: absolute;
      top: 8rem;
      right: 17rem;
      border-radius: 48px;
    };
    
    .ContantButtons {
        display: flex;
        flex-wrap: wrap;
        width: 29.5625rem;
        height: 13.6875rem;
        position: absolute;
        bottom: 0rem;
        right: 3rem;
        gap: 0rem 3rem;
    
    .gitHub {
        width: 10.25rem;
        height: 3.625rem;
        flex-shrink: 0;
        border-radius: 1.4375rem;
        border: 2px solid #FFFF;
        background: var(--padrao-gradient);
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
        &:hover {
        background: linear-gradient(96deg, #BD00FF 2.05%, #FF4E79 100%);
        color: #000000;
        }
        color: #163020;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
      }
    
    .linkedin {
        width: 10.25rem;
        height: 3.625rem;
        flex-shrink: 0;
        border-radius: 1.4375rem;
        border: 2px solid #FFFF;
        background: var(--padrao-gradient);
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background: linear-gradient(96deg, #1A23FF 2.05%, #7DC4DB 100%);
        color: #000000;
      }
        color: #163020;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
    };

    .treinee {
        width: 10.25rem;
        height: 3.625rem;
        flex-shrink: 0;
        border-radius: 1.4375rem;
        border: 2px solid #FFFF;
        background: var(--padrao-gradient);
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background: linear-gradient(96deg, #4C724C 2.05%, #D9CDAE 100%);
        color: #000000;
      }
        color: #163020;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
    };

    .freelancer {
        width: 10.25rem;
        height: 3.625rem;
        flex-shrink: 0;
        border-radius: 1.4375rem;
        border: 2px solid #FFFF;
        background: var(--padrao-gradient);
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background: linear-gradient(96deg, #C0C0C0 2.05%, #AD7D02 100%);
        color: #000000;
      }
        color: #163020;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
    };
  };
};