
.section3 {
    width: 100vw;
    height: 100%;
    background-color: #EEF0E5;
    padding: 2%;

    @media screen and (max-width: 800px) {
        height: 120%;
    }

    .projetosContant {
        font-size: 1.7rem;
        font-weight: 500;
        margin-left: 6%;

        @media screen and (max-width: 600px) {
            font-size: 1.4rem;
            font-weight: 500;
        }
        @media screen and (max-width: 500px) {
            margin-left: 0;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    a {
        color: black;
    }

    .projetosGrid {
        height: 55vh;
        width: 100%;
        font-size: 1.1rem;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        gap: 10%;
        padding: 4%;
        background: var(--padrao-gradient);
        border-radius: 15px;

        @media screen and (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            height: 80vh;
            gap: 0;
        }
        @media screen and (max-width: 500px) {
            height: 90%;
            column-gap: 30px;
            row-gap: 15px;
        }

        .descriçãoProjetos {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 400;
            transition: var(--transicao-botao);

            &:hover {
                transform: scale(1.4, 1.4);
            }
            @media screen and (max-width: 1300px) {
                &:hover {
                    transform: scale(1.26, 1.26);
                }
            }
        }

        .projeto1,
        .projeto2,
        .projeto3,
        .projeto4 {
            width: 200px;
            height: 200px;
            border: 1px solid var(--escrito-escuro);
            border-radius: 10px;
            box-shadow: var(--button-shadow);
            @media screen and (max-width: 1300px) {
                width: 180px;
                height: 180px;
            }
            @media screen and (max-width: 1100px) {
                width: 160px;
                height: 160px;
            }
            @media screen and (max-width: 960px) {
                width: 130px;
                height: 130px;
            }
            @media screen and (max-width: 500px) {
                width: 115px;
                height: 115px;
            }
        }
    }
}