.section2 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--padrao-gradient);


    .tituloSobre {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--escrito-escuro);
        padding: 2rem;

        @media screen and (max-width: 1024px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.6rem;
            width: auto;
            padding: 1rem;
        }
    }

    .textosSobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
        gap: 8%;

        @media screen and (max-width: 1024px) {
            height: 53%;
        }

        @media screen and (max-width: 853px) {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5%;
        }

        .contantText {
            width: 35%;
            font-size: 1.4rem;

            @media screen and (max-width: 1400px) {
                font-size: 1.25rem;
                width: 40%;
            }

            @media screen and (max-width: 1024px) {
                width: 60%;
                font-size: 1.6rem;
            }

            @media screen and (max-width: 853px) {

                width: 98%;
                padding-left: 5%;
            }

            @media screen and (max-width: 500px) {
                font-size: 1.1rem;
            }
        }
    }

    .certificados {
        margin: 4rem 4rem 4rem 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21rem;
        height: 4rem;
        border-radius: 1.9rem;
        border: var(--borda);
        box-shadow: var(--button-shadow);
        color: var(--escrito-escuro);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        transition: var(--transicao-botao);
        background-color: rgba(48, 77, 48, 0.3);

        &:hover {
            transform: scale(1.1, 1.1);
        }

        @media screen and (max-width: 853px) {
            margin: 3rem;
            width: 16rem;
            height: 4rem;
            font-size: 1.3rem;
        }

        @media screen and (max-width: 500px) {
            width: 15rem;
            height: 3.6rem;
        }
    }
}