.section2 {
    width: 100vw;
    height: 100%;
    background: var(--padrao-gradient);
    display: flex;

    @media screen and (max-width: 853px) {
      flex-direction: column;
      height: 110%;
  }
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33rem;
      padding: 4% 0% 0% 6%;

      @media screen and (max-width: 853px) {
        width: 23rem;
      }

      .contantText {
        width: 33rem;
        height: 7rem;
        font-size: 1.25rem;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
          width: 23rem;
        }
        @media screen and (max-width: 853px) {
          font-size: 1.1rem;
          width: 80vw;
        }
      }

      .certificados {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21rem;
        height: 4rem;
        border-radius: 1.9rem;
        border: var(--borda);
        box-shadow: var(--button-shadow);
        color: var(--escrito-escuro);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        transition: var(--transicao-botao);
        background-color: rgba( 48, 77, 48, 0.3);

        &:hover {
            transform: scale(1.1, 1.1);
        }
        @media screen and (max-width: 853px) {
          margin-top: 0rem;
          margin-bottom: 1rem;
          width: 16rem;
          height: 4rem;
          font-size: 1.3rem;
        }
      }
    }
  
    .contantSkils {
      display: flex;
      padding-left: 2%;
      margin-top: 3%;
      margin-left: 7%;
      border-left: 1px solid #163020;
      width: 50%;
      height: 80%;
      font-size: 1.7rem;
      font-weight: 500;
      overflow-y: auto;

      @media screen and (max-width: 853px) {
        width: 80%;
        height: 100%;
        border-left: none;
        border-top: 1px solid #163020;
        margin-left: 5%;
        margin-top: 0;
        padding: 0%;
        display: block;
    }

      .phabilidade {  position:relative;

      }

      .skills {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        gap: 15%;
        align-items: center;
        justify-content: center;
        
        @media screen and (max-width: 853px){
          flex-direction: row;
          min-width: 98%;
          gap: 8%;
      }

        .imgContainer{
          width: 100px;
          height: 116px;
          background-color: rgba( 48, 77, 48, 0.3) ;
          border-radius: 14px;
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
          transition: var(--transicao-botao);
          
          &:hover {
            transform: scale(1.1, 1.1);
            background-color: rgba( 48, 77, 48, 0.4);
        }
        @media screen and (max-width: 850px){
          width: 63px;
          height: 74px;
          margin-top: 15%;
        }
        }
        .react {
          margin-right: 4px;
          width: 71px;
          height: 66px;

          @media screen and (max-width: 850px){
            width: 50px;
            height: 47px;
          }
        }
        .img {
          width: 50px;
          height: 57px;

          @media screen and (max-width: 850px){
            width: 40px;
            height: 47px;
          }
        }

        .imgHz {
          width: 60px;
          height: 50px;
          opacity: 0.7;

          @media screen and (max-width: 850px){
            width: 50px;
            height: 40px;
          }
        }

        .textSkills {
          font-size: 1rem;
          font-weight: 700;
          color: var(--escrito-escuro);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          
          @media screen and (max-width: 850px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  